*{
 padding: 0px;
 margin: 0px;

}

h1{
 color:brown;
  text-align: center;
 font-size: 32px;
 text-transform: uppercase;
}

body{
    background-color:blue; 
}

p{
    margin-left: 5px;
  font-size: 25px;
 text-align: justify;
}

h2,h3{
    text-align: center ;
     font-size: 30px;
    text-transform: uppercase;
}
 iframe{
   margin-left: 500px;
}
 li{
  margin-left: 40px;
  text-transform: uppercase;
 font-size: 25px;
 }
 
 